/* src/components/RessetPassword.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .reset-password-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.reset-password-image {
    flex: 0.4;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

  .reset-password-logo {
    position: absolute; 
    top: 5px; 
  }
  
  .reset-password-form {
    flex: 0.6; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4A4F77; 
    height: 100%; 
  }

  .reset {
    position: relative;
    top: -50px; /* Moves the heading 20px upwards */
  }
  

.reset-password-form form {
    width: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-form label {
    width:350px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
    position: relative; /* Allows the use of 'top' property */
    top: -40px;
    
}

.reset-password-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
}

.reset-password-form button {
    width: 350px;
    max-width: 400px;
    padding: 10px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    position: relative; 
    top: -40px;
}

.reset-password-form button:hover {
    background-color: #ff6a30; /* Slightly darker on hover */
}

/* .login-footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  padding: 20px; 
  position: absolute;
  bottom: 0;
}

.login-footer p {
  margin: 5px 0;
}

.login-footer a {
  color: #ff7f50;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
} */
