/* src/components/PrivacyPolicy.css */

.privacy-policy-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #FFFF;
    background-color:#4A4F77 ;
    line-height: 1.6;
  }
  
  .privacy-policy-container h1 {
    font-size: 28px;
    color: #FFFF;
    margin-bottom: 20px;
  }
  
  .privacy-policy-container h2 {
    font-size: 22px;
    color: #FFFF;
    margin-top: 20px;
    margin-bottom: 10px;
    top: 10px;
    text-decoration: underline;
  }
  
  .privacy-policy-container p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  