.sidebar {
  width: 250px;
  background-color: #4A4F77;
  color: #fff;
  height: 100vh; /* Full viewport height */
  position: fixed;
  top: 0; /* Ensures it starts at the very top */
  left: 0; /* Aligns it to the left edge */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0; /* Removes any default margins */
  padding: 0; /* Removes any default padding */
  z-index: 1000; /* Ensures it stays above other elements if necessary */
}

.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}


  .sidebar-logo {
    padding: 10px;
    text-align: center;
 
  }

  .sidebar-menu a svg {
    margin-right: 10px;
  }

  
  .sidebar-logo img {
    max-width: 70%;
    height: auto;
     left: -30px;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    background-color: #22285E;
    margin-left: 30px;
    margin-top: -12px;

  }
  
  .sidebar-menu li {
    padding: 15px 20px;
    margin-bottom: 15px;
  }
 
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    color:inherit;
    align-items: center;
    background-color: transparent; 
    width: 250px;
  }
  
  .sidebar-menu li  a.active {
    background-color: #4A4F77;
    height:40px;
    width: 180px;
    border-radius: 0px 20px 20px 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: -20px;
    padding-left: 20px;
  }


  .sidebar-menu li a:not(.active):hover {
    background-color: #22285E;
  }

  .submenu {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: -18px;
  }
  
  .submenu li a {
    font-size: 14px;
  }
  
  .submenu li a:hover {
    background-color: #22285E;
  }
  
.sidebar-menu li a.active-group {
  background-color: #4A4F77; 
  height: 40px;
  width: 180px;
  border-radius: 0px 20px 20px 0px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: -20px;
  padding-left: 20px;
}

.sidebar-menu li a.active-group {
  background-color: #4A4F77;
}

.sidebar-menu li a.active {
  background-color: #4A4F77; 
  border-radius: 0px 20px 20px 0px;
  color: white;
  padding-left: 20px;
  height: 40px;
  width: 180px;
}
.sidebar {
  width: 250px;
  background-color: #4A4F77;
  color: #fff;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease;
}

.sidebar.closed {
  transform: translateX(-250px);
}

.sidebar.open {
  transform: translateX(0);
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-250px);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}